<h2 class="title title--center title--m-t-b-20">
  Do you have a great idea for a new POD concept? <br />
</h2>
<h3 class="title2 title--center ">
  If so please fill out the following form and our POD Masters will be in touch
  with you shortly.
</h3>

<form
  class="holder holder--dis-col holder full-center form holder--m-center"
  [formGroup]="requestPod"
  (ngSubmit)="onHandleRequest()"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      formControlName="name"
      maxlength="100"
      required
      autocomplete="false"
    />
  </mat-form-field>
  <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
    <div *ngIf="f.name.errors.required" class="error-message">
      Name is required
    </div>
  </div>

  <mat-form-field>
    <input
      matInput
      placeholder="Technology Name"
      formControlName="technologyName"
      maxlength="150"
      required
      autocomplete="false"
    />
  </mat-form-field>
  <div
    *ngIf="
      f.technologyName.invalid &&
      (f.technologyName.dirty || f.technologyName.touched)
    "
  >
    <div *ngIf="f.technologyName.errors.required" class="error-message">
      Technology Name is required
    </div>
  </div>

  <mat-form-field>
    <input
      matInput
      placeholder="Tool Name"
      formControlName="toolName"
      maxlength="150"
      required
      autocomplete="false"
    />
  </mat-form-field>
  <div *ngIf="f.toolName.invalid && (f.toolName.dirty || f.toolName.touched)">
    <div *ngIf="f.toolName.errors.required" class="error-message">
      Tool Name is required
    </div>
  </div>

  <mat-form-field>
    <mat-label
      >Is there a possible certificate associated with this tech?</mat-label
    >
    <mat-select>
      <mat-option>--None--</mat-option>
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
      <mat-option value="Unknown">Unknown</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="What problem does this solve?"
      formControlName="description"
      maxlength="2000"
      required
      autocomplete="false"
    ></textarea>
  </mat-form-field>
  <div
    *ngIf="
      f.description.invalid && (f.description.dirty || f.description.touched)
    "
  >
    <div *ngIf="f.description.errors.required" class="error-message">
      Problem description is required
    </div>
  </div>

  <button
    mat-raised-button
    class="btn waves-effect waves-light"
    color="accent"
    type="submit"
    name="action"
    [disabled]="!requestPod.valid"
  >
    Submit
    <i class="material-icons right">send</i>
  </button>
</form>
