<h2 class="title title--center title--m-t-b-20">
  Do you have a great idea for a new POD concept? <br />If so please fill out
  the following form and our POD Masters will be in touch with you shortly.
</h2>

<form
  class="holder holder--dis-col holder full-center form holder--m-center"
  [formGroup]="requestPod"
  (ngSubmit)="onHandleRequest()"
>
  <mat-form-field>
    <input
      matInput
      placeholder="name"
      formControlName="name"
      maxlength="100"
      required
      autocomplete="false"
    />
  </mat-form-field>
  <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
    <div *ngIf="f.name.errors.required" class="error-message">
      Name is required
    </div>
  </div>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Description"
      formControlName="description"
      maxlength="2000"
    ></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    class="btn waves-effect waves-light"
    color="accent"
    type="submit"
    name="action"
    [disabled]="!requestPod.valid"
  >
    Submit
    <i class="material-icons right">send</i>
  </button>
</form>
