<form
  [formGroup]="loginForm"
  (ngSubmit)="onHandleUserLogin()"
  class="holder holder--dis-col holder--full-center holder--h-80"
>
  <h3 class="title">Login</h3>
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="User Name"
      formControlName="userName"
      maxlength="100"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <div *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched)">
    <div *ngIf="f.userName.errors.required" class="error-message">
      Username is required
    </div>
  </div>
  <br />
  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
      maxlength="100"
      required
    />
  </mat-form-field>
  <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
    <div *ngIf="f.password.errors.required" class="error-message">
      Password is required
    </div>
  </div>
  <br />
  <div>
    <button
      mat-raised-button
      class="btn waves-effect waves-light"
      color="accent"
      type="submit"
      class="link--black"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
    <button
      mat-raised-button
      class="btn waves-effect waves-light"
      color="accent"
      type="submit"
      [routerLink]="['/error/403']"
      class="link--black"
    >
      Admin Login
    </button>
  </div>
</form>
