<div class="holder holder--dis-col holder--full-center">
  <h2 class="title title--center title--m-t-b-20 title--m-s-40">
    X-Hire 2019 Xperiments team
  </h2>

  <div class=" holder holder--dis-col holder--m-center button--col-m">
    <img
      src="assets/XhireXperiments2.jpg"
    />
    <img>
    <h4 class="title2 title--center title--m-s-40">
      The Team
    </h4>
  </div>

  <div class="holder holder--m-t-20 holder--w-full holder--m-b-100">
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/sarai-fuoss-67542126/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Sarai.jpg" alt="Person image"  />
          <mat-card-title>Sarai Fuoss</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/mike-muponda-5b3035a5/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Mike.jpg" alt="Person image" />
          <mat-card-title>Mike Muponda</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>
      <a
      class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
      href="https://www.linkedin.com/in/foxchrisrealthe"
      rel="noopener"
      target="_blank"
    >
      <mat-card>
        <img mat-card-image src="assets/Chris.jpg" alt="Person image" />
        <mat-card-title>Christopher Fox</mat-card-title>
        <mat-card-content>Person description??</mat-card-content>
      </mat-card>
    </a>
    <a
      class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
      href="https://www.linkedin.com/in/foxchrisrealthe"
      rel="noopener"
      target="_blank"
    >
      <mat-card>
        <img mat-card-image src="#" alt="Person image" />
        <mat-card-title>Exixia Ortega</mat-card-title>
        <mat-card-content>Person description??</mat-card-content>
      </mat-card>
      </a>
    </div>



    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/ashlynne-garcia-1a0438186/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Ashlynne.jpg" alt="Person image" />
          <mat-card-title>Ashlynne Garcia</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/dtsolutions/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Dustin.jpg" alt="Person image" />
          <mat-card-title>Dustin Turner</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>

      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/lajos-kosa/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Michael.jpg" alt="Person image" />
          <mat-card-title>Michael White</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/robert-walter-001565176/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Robert.jpg" alt="Person image" />
          <mat-card-title>Robert Walter</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20 link__no-underline"
        href="https://www.linkedin.com/in/lajos-kosa/"
        rel="noopener"
        target="_blank"
      >
        <mat-card>
          <img mat-card-image src="assets/Lagos.jpg" alt="Person image" />
          <mat-card-title>Lajos Kosa</mat-card-title>
          <mat-card-content>Person description??</mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

</div>
