<div class="holder holder--dis-col holder--full-center">
  <h2 class="title title--center title--m-t-b-20 title--m-s-40">
    X-Hire 2019 Xperiments team
  </h2>

  <h5>Put the image of all of us here</h5>
  <h4 class="title2 title--center title--m-s-40">
    The Team
  </h4>
  <div class="holder holder--m-t-20 holder--w-full">
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <a
        class="holder holder--dis-col clickable holder--m-t-20"
        href="https://www.linkedin.com/in/foxchrisrealthe"
        rel="noopener"
        target="_blank"
      >
        <img src="#" alt="Person image" />
        <h5>Person name??</h5>
        <p>Person description??</p>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20"
        href="https://www.linkedin.com/in/foxchrisrealthe"
        rel="noopener"
        target="_blank"
      >
        <img src="#" alt="Person image" />
        <h5>Person name??</h5>
        <p>Person description??</p>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20"
        href="https://www.linkedin.com/in/foxchrisrealthe"
        rel="noopener"
        target="_blank"
      >
        <img src="#" alt="Person image" />
        <h5>Person name??</h5>
        <p>Person description??</p>
      </a>
    </div>

    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <a
        class="holder holder--dis-col clickable holder--m-t-20"
        href="https://www.linkedin.com/in/foxchrisrealthe"
        rel="noopener"
        target="_blank"
      >
        <img src="#" alt="Person image" />
        <h5>Person name??</h5>
        <p>Person description??</p>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20"
        href="https://www.linkedin.com/in/foxchrisrealthe"
        rel="noopener"
        target="_blank"
      >
        <img src="#" alt="Person image" />
        <h5>Person name??</h5>
        <p>Person description??</p>
      </a>
      <a
        class="holder holder--dis-col clickable holder--m-t-20"
        href="https://www.linkedin.com/in/foxchrisrealthe"
        rel="noopener"
        target="_blank"
      >
        <img src="#" alt="Person image" />
        <h5>Person name??</h5>
        <p>Person description??</p>
      </a>
    </div>
  </div>
</div>
