/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();
* {
  margin: 0;
  padding: 0;
}
$themeBlack: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$themeRed: (
  50: #fce4e4,
  100: #f6bbbc,
  200: #f18d90,
  300: #eb5f64,
  400: #e63d42,
  500: #e21b21,
  600: #df181d,
  700: #da1418,
  800: #d61014,
  900: #cf080b,
  A100: #fff8f8,
  A200: #ffc5c6,
  A400: #ff9293,
  A700: #ff797a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$themeOrange: (
  50: #fff1e0,
  100: #ffddb3,
  200: #ffc680,
  300: #ffaf4d,
  400: #ff9d26,
  500: #ff8c00,
  600: #ff8400,
  700: #ff7900,
  800: #ff6f00,
  900: #ff5c00,
  A100: #ffffff,
  A200: #fff6f2,
  A400: #ffd2bf,
  A700: #ffc0a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$my-app-primary: mat-palette($themeBlack);
$my-app-accent: mat-palette($themeRed);
$my-app-warn: mat-palette($themeOrange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.grey-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  opacity: 0.6;
  z-index: 3;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.error-message{
  color: red;
  font-size: 0.9rem;
}

.clickable{
  cursor: pointer;
}
