.grey-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  opacity: 0.6;
  z-index: 3;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
