:root {
  --color-one: #ffffff;
  --color-two: #000000;
  --color-three: #ffffff;
  --color-four: #000000;
  --color-five: #ffffff;
  --color-six: #000000;
  --title-color: #000000;
  --secondary-title-color: #000000;
  --text-color: #000000;
}
