<div class="holder holder--dis-col holder--full-center">
  <h2 class="title title--center title--m-t-b-20 title--m-s-40">
    Welcome {{ auth.currentUser.firstName }}
  </h2>
  <div class="holder holder--m-t-20 holder--w-full">
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <mat-card class="image image__profile-image">
        <img
          mat-card-image
          class="image image__profile-image"
          src="./assets/minion_image.png"
          alt="Person image"
        />
        <mat-card-title>Minion</mat-card-title>
        <mat-card-subtitle>X-Hire</mat-card-subtitle>
      </mat-card>
    </div>
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <div  class="holder holder--dis-col holder--m-t-50">
        <h4 class="title2 title--center title--m-s-40">Pods Joined</h4>
        <p>The pods this person is associated with.</p>
      </div>
      <div  class="holder holder--dis-col holder--m-t-50">
        <h4 class="title2 title--center title--m-s-40">Description</h4>
        <p>A description or something here.</p>
      </div>
      <div  class="holder holder--dis-col holder--m-t-50">
        <h4 class="title2 title--center title--m-s-40">Interests</h4>
        <p>Some interests here.</p>
      </div>
      <div  class="holder holder--dis-col holder--m-t-50">
        <h4 class="title2 title--center title--m-s-40">Skills</h4>
        <p>Skills this person has.</p>
      </div>
    </div>
  </div>
  <div class="holder holder--dis-col holder--m-t-50 holder--m-b-100">
    <h4 class="title2 title--center title--m-s-40">Resume</h4>
    <object width="700" height="500" data="assets/test.pdf"></object>
  </div>
</div>
