<div class="holder holder--dis-col holder--full-center">
  <h2 class="title title--center title--m-t-b-20 title--m-s-40">
    {{ podsService.singlePod.podName }}
  </h2>
  <div mat-tab-group>
    <mat-tab-group>
      <mat-tab label="Description">
        <div class="holder holder__block holder--full-center">
          <p class="body body--line-double">
            {{ podsService.singlePod.description }}
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Accomplishments">
        <div class="holder holder__block holder--full-center">
          <mat-list>
            <mat-list-item>
              <p>9/20/2019</p>
              <p>
                Ennui thundercats mixtape literally jean shorts bespoke.
              </p></mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>9/20/2019</p>
              <p>
                Selfies gentrify banh mi man bun, intelligentsia activated
                charcoal tilde hot chicken hella stumptown craft beer ramps yr.
              </p></mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>9/20/2019</p>
              <p>
                Cray etsy street art cliche, artisan roof party green juice
                unicorn.
              </p></mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>9/20/2019</p>
              <p>
                Health goth cred hella, shabby chic crucifix woke narwhal
                disrupt meggings literally forage.
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>9/20/2019</p>
              <p>
                Copper mug cred fashion axe portland, pop-up vape before they
                sold out jean shorts af offal meditation vexillologist.
              </p></mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>9/20/2019</p>
              <p>
                Cardigan literally cred, prism quinoa kale chips tote bag
                poutine seitan lomo tumblr.
              </p></mat-list-item
            >
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="Members">
        <div class="holder holder__block holder--full-center">
          <mat-list>
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #1</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #2</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #3</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #4</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #5</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #6</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #7</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #8</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #9</mat-list-item
            >
            <mat-list-item [routerLink]="['/profile']" class="clickable"
              >Minion #10</mat-list-item
            >
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class=" holder holder--dis-col holder--m-center">
      <button mat-raised-button color="primary" (click)="onHandleJoinPod()">
        Request to Join
      </button>
    </div>
  </div>
</div>
