<div class="holder holder--dis-col holder--full-center">
  <h2 class="title title--center title--m-t-b-20 title--m-s-40">
    POD Name
  </h2>
  <div mat-tab-group>
    <mat-tab-group>
      <mat-tab label="Description">
        <div class="holder holder__block holder--full-center">
          <p>Some really neat description and stuff...</p>
        </div>
      </mat-tab>
      <mat-tab label="Accomplishments">
        <div class="holder holder__block holder--full-center">
          <p>List of accomplishments and stuff...</p>
        </div>
      </mat-tab>
      <mat-tab label="Members">
        <div class="holder holder__block holder--full-center">
          <p>List of pod members...</p>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class=" holder holder--dis-col holder--m-center">
      <button
        mat-raised-button
        color="primary"
        (click)="onHandleJoinPod()"
      >
        Join
      </button>
    </div>
  </div>
</div>


