<div class=" holder--pos-rel">
  <div class="modal__close" (click)="onHandleClosePod()">X</div>

  <h2>
    pod stuff here
  </h2>
  <div class="holder holder--m-t-20 holder--w-full">
    <mat-divider></mat-divider>
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <button
        mat-raised-button
        mat-dialog-close
        [routerLink]="['single-pod/1']"
        color="primary"
      >
        More Information
      </button>
    </div>
    <div class=" holder holder--dis-col holder--m-center  button--col-m">
      <button mat-raised-button color="primary" (click)="onHandleJoinPod()">
        Join
      </button>
    </div>
  </div>
</div>
