<div class=" holder--pos-rel">
  <div class="modal__close" (click)="onHandleClosePod()">X</div>

  <div class="holder holder--dis-col">
    <h2 class="title title--center">{{ podsService.singlePod.podName }}</h2>
    <div class="holder">
      <div class="holder holder--dis-col holder--m-center holder--50">
        <p class="body body--m-top-20 body--line-double">
          {{ podsService.singlePod.description }}
        </p>
      </div>
    </div>
  </div>
  <div class="holder holder--m-t-20 holder--w-full">
    <mat-divider></mat-divider>
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <button
        mat-raised-button
        mat-dialog-close
        [routerLink]="['single-pod']"
        color="primary"
      >
        More Information
      </button>
    </div>
    <div class=" holder holder--dis-col holder--m-center  button--col-m">
      <button mat-raised-button color="primary" (click)="onHandleJoinPod()">
        Request to Join
      </button>
    </div>
  </div>
</div>
