.footer {
  height: 75px;
  background-color: black;
  position: fixed;
  bottom: 0;
  color: white;
}

.footer__content{
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1100px) {
}

@media screen and (min-width: 1500px) {
}
