<div>
  <header>
    <mat-toolbar class="header">
      <mat-nav-list>
        <button
          class="toolbar__icon-button"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-nav-list>

      <img
        *ngIf="auth.isAuthenticated()"
        src="assets/Xpanxion-Logo-White.png"
        class="image brand"
        [routerLink]="['/home']"
      />
      <img
        *ngIf="!auth.isAuthenticated()"
        src="assets/Xpanxion-Logo-White.png"
        class="image brand"
        [routerLink]="['/']"
      />
    </mat-toolbar>
  </header>
  <mat-drawer-container class="container" [hasBackdrop]="'false'">
    <mat-drawer #drawer [mode]="'side'" class="drawer">
      <div *ngIf="auth.isAuthenticated()" class="holder holder--dis-col">
        <div class="holder holder--dis-col holder--m-t-50 holder--full-center">
          <div class="clickable" [routerLink]="['/profile']">
            <img
              class="header__profile-image"
              src="/assets/minion_image.png"
              alt="User profile image"
            />
            <h4 class="title--center">
              Welcome {{ auth.currentUser?.firstName }}!
            </h4>
          </div>
        </div>
        <div class="holder holder--dis-col holder--m-t-50">
          <button mat-button [routerLink]="['/home']">
            Home
          </button>

          <button mat-button [routerLink]="['/request-pod']">
            Request Pod
          </button>
          <div class="holder holder--dis-col holder--m-t-50">
            <button mat-button (click)="onHandleLogout()">
              Logout
            </button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!auth.isAuthenticated()">
        <div class="holder holder--dis-col">
          <button mat-button [routerLink]="['/']">
            Login
          </button>
        </div>
      </ng-container>
    </mat-drawer>
    <mat-drawer-content class="content">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
