<div class="holder holder--dis-col holder--full-center">
  <h2 class="title title--center title--m-t-b-20 title--m-s-40">
    Welcome to your Digital POD's' home page.
  </h2>
  <h4 class="title2 title--center title--m-s-40">
    Below you will find the various available digital POD's open to you that you
    can sign up for.
  </h4>
  <div class="holder holder--m-t-20 holder--w-full">
    <div class=" holder holder--dis-col holder--m-center button--col-m">
      <h2 class="title--center title--small-caps title--medium">technology</h2>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let pod of podsService.allPods">
        <ng-container *ngIf="pod.podType === 'technology'">
          <button
            mat-raised-button
            (click)="onHandleOpenModal(pod)"
            color="primary"
          >
            {{ pod.podName }}
          </button>
        </ng-container>
      </ng-container>
    </div>

    <div class=" holder holder--dis-col holder--m-center  button--col-m">
      <h3 class="title--center  title--small-caps title--medium">
        business assurance
      </h3>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let pod of podsService.allPods">
        <ng-container *ngIf="pod.podType === 'businessAssurance'">
          <button
            (click)="onHandleOpenModal(pod)"
            mat-raised-button
            color="primary"
          >
            {{ pod.podName }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
