<h1>Welcome to your Digital POD's'home page. Below you will find the various available digital POD's open to you that you can sign up for</h1>
<br>
<div class="holder">
<div class=" holder holder--dis-col">
  <h2>TECHNOLOGY</h2>
  <mat-divider></mat-divider>
  <button mat-raised-button (click)="openDialog()">AI/ML & Data Science</button>
  <button mat-raised-button (click)="openDialog()">Java</button>
  <button mat-raised-button (click)="openDialog()">Blockchain</button>
  <button mat-raised-button (click)="openDialog()">Microsoft</button>
  <button mat-raised-button (click)="openDialog()">Mobility</button>
  <button mat-raised-button (click)="openDialog()">JS Frameworks</button>
  <button mat-raised-button (click)="openDialog()">DevOps(QA + Tech)</button>
</div>

<div class=" holder holder--dis-col">
  <H1>BUSINESS ASSURANCE</H1>
  <mat-divider></mat-divider>
  <button (click)="openDialog()" mat-raised-button>Assurance Excellence & Test Advisory</button>
  <button mat-raised-button (click)="openDialog()">Innovation POD, DevOps, and Cloud</button>
  <button mat-raised-button (click)="openDialog()">Frameworks and Tools Standardization</button>
  <button mat-raised-button (click)="openDialog()">Performance Testing</button>
  <button mat-raised-button (click)="openDialog()">Scriptless Automation</button>
  <button mat-raised-button (click)="openDialog()">Mobile Automation</button>
  <button mat-raised-button (click)="openDialog()">RPA and Low Code</button>
</div>
</div>
